image: golang:1.25.0

stages:
    - test
    - release

before_script:
    - go install github.com/magefile/mage@latest
    - mage -v bootstrap
    - apt update -y
    - apt install zip -y

build:
    stage: test
    script:
        - mage -v test
        - mage -v build:release
        - ls -R bin

release:
    stage: release
    rules:
        - if: "$CI_COMMIT_TAG"
          when: on_success
        - when: never
    script:
        - mage -v build:release
        - mage -v release
        - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file bin/fspop_${CI_COMMIT_TAG}_darwin_amd64.zip "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/fspop/${CI_COMMIT_TAG}/fspop-${CI_COMMIT_TAG}-darwin_amd64.zip"'
        - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file bin/fspop_${CI_COMMIT_TAG}_darwin_arm64.zip "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/fspop/${CI_COMMIT_TAG}/fspop-${CI_COMMIT_TAG}-darwin_arm64.zip"'
        - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file bin/fspop_${CI_COMMIT_TAG}_linux_amd64.zip "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/fspop/${CI_COMMIT_TAG}/fspop-${CI_COMMIT_TAG}-linux_amd64.zip"'
        - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file bin/fspop_${CI_COMMIT_TAG}_linux_arm64.zip "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/fspop/${CI_COMMIT_TAG}/fspop-${CI_COMMIT_TAG}-linux_arm64.zip"'
        - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file bin/fspop_${CI_COMMIT_TAG}_windows_amd64.zip "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/fspop/${CI_COMMIT_TAG}/fspop-${CI_COMMIT_TAG}-windows_amd64.zip"'
